{% load static %}

<h2 class="title">Bulk Product Upload</h2>

<div class="upload-box">

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn primary-btn" type="submit">Upload CSV</button>
</form>

<p class="format-title">CSV Format:</p>

<pre class="csv-format">
title,description,price
Ring 1,Gold ring description,5000
Chain 2,Gold chain description,10000
</pre>

<div class="actions">

<form method="post" action="{% url 'staff_panel' %}">
    {% csrf_token %}
    <button class="btn secondary-btn" type="submit">Go Back</button>
</form>

<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button class="btn logout-btn" type="submit">Logout</button>
</form>

</div>

</div>