<h2>Manual Product Upload</h2>

<form method="post" <h2>Manual Product Upload</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Product</button>
</form>

<br>

</form>>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Product</button>
</form>
<br>

<form method="post" action="{% url 'staff_panel' %}" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Go Back</button>
</form>

<form method="post" action="{% url 'logout' %}" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Logout</button>


